In [1]:
#mylist.append('c')
#mylist.insert(1,'two')
#del mylist[1]
mylist = [1,3,4,5]
print(mylist)

[1, 3, 4, 5]

In [2]:
del mylist

In [3]:
#looping 
mylist = ['python','c','java']
for x in mylist:
    print(x)

list = [1,2,3,4,5]
for i in list:
    print(i)

python
c
java
1
2
3
4
5

In [4]:
for i in list:
    print(i)
    if i==3:
        break

1
2
3

In [9]:
for i in list: 
    if i==3:
        continue
        print(i)

In [10]:
#for i in range(list[])
r=range(5)
for i in r:
    print(i)

0
1
2
3
4

In [12]:
r=range(1,5)
for i in r:
    print(i)

1
2
3
4

In [13]:
r=range(1,5,2)
for i in r:
    print(i)

1
3

In [14]:
#for i in range(len(list)):
#print (list[i])

In [15]:
list=['java','pthon','math','game']
for a in list:
    print(a)

java
pthon
math
game

In [16]:
newlist=[]
list

['java', 'pthon', 'math', 'game']

In [19]:
for i in list:
    if 'a' in i:
        newlist.append(i)
newlist

['java', 'math', 'game', 'java', 'math', 'game', 'java', 'math', 'game']

In [20]:
list=['java','python','math',]
list

['java', 'python', 'math']

In [22]:
for i in list:
    if 'vowel' in i:
        newlist.append(i)
list

['java', 'python', 'math']

In [23]:
list=['s','a','b','e','p','o','i']
list

['s', 'a', 'b', 'e', 'p', 'o', 'i']

In [25]:
for i in list:
    if 'vowel' in i:
        newlist.append(i)
list

['s', 'a', 'b', 'e', 'p', 'o', 'i']

In [26]:
newlist 
['java','python']
if 'a' in 'java' and 'v' in 'java':
    print('Yes')

Yes

In [27]:
if 'n' in 'python' and 'j' in 'java':
    print('yes')

yes

In [29]:
#print('hello!')
i=0 
while i<5:
    print('this is iteration, i is set to' + str(i))
    i=i+1
    print('goodbye')

this is iteration, i is set to0
goodbye
this is iteration, i is set to1
goodbye
this is iteration, i is set to2
goodbye
this is iteration, i is set to3
goodbye
this is iteration, i is set to4
goodbye

In [32]:
total=0
for n in range(101):
    total=total+n
    print(total)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [57]:
while True:
    ch=input('input a vowel character:')
    if ch in 'aeiouAEIOU':
        print(ch)
    else:
        print('not a vowel')
        break

input a vowel character: i

i

input a vowel character: p

not a vowel

In [60]:
while True:
    ch=input('enter any vowel:')
    if ch in 'aeiouAEIOU':
        print(ch)
    else:
        print('not a vowel')
        break

enter any vowel: A

A

enter any vowel: G

not a vowel

In [21]:
a=int(input('enter first number:'))
b=int(input('enter second number:'))
gcd=find_gcd(a,b)
def find_gcd(a,b):
    a,b=b, a%b
    return a 
print(gcd)

enter first number: 72
enter second number: 18

18

In [1]:
#tuple 
tuple=('python','c','java')
print(tuple[2])

java

In [2]:
#tuple +=tuple1 = tuple=tuple+tuple1
#tuple=('scalar',)  use commas must

In [6]:
tuple=('python','c','java')
tuple1=('scalar',)
tuple+=tuple1
print(tuple)

('python', 'c', 'java', 'scalar')

In [10]:
#we can unpack values from tuple 
tuple=('python','c','java')
(first, second,third)=tuple
print(first)
print(second)
print(third)

python
c
java

In [11]:
#sets = unorderd collection of unique items
set= {'python','c','java'}
print(set)
len(set)

{'c', 'java', 'python'}

3

In [15]:
set={'python','c','java','c'}
print(set)

{'c', 'java', 'python'}

In [20]:
num=[1,2,2,3,3,4,2,4,5,1]
myset=set{num} 
mylist=list(myset)
print(myset)

SyntaxError: invalid syntax (2602002890.py, line 2)

In [21]:
myset={'python', 'c','java'}
print(myset)
print(len(myset))

for x in myset: #loop through each item 
    print(x)


if 'c' in myset:#check for an item 
    print('yes')

{'c', 'java', 'python'}
3
c
java
python
yes

In [22]:
#myset.add('x')
#print(myset)

#myset.remove('x)
#myset.discard('x) = similar to remove
#mysert.clear() #empties the set  
print(myset)
#del myset #deletes the set

{'c', 'java', 'python'}

In [26]:
myset={'python','c','java'}
myset.add('math')
print(myset)

{'c', 'math', 'java', 'python'}

In [29]:
myset={'python','c','java'}
myset.remove('c')
print(myset)

{'java', 'python'}

In [30]:
myset = {'python','c','java'}
yourset={'math','scalar'}
myset.update(yourset)
print(myset)

{'scalar', 'java', 'math', 'python', 'c'}

In [47]:
#can update set with list, tuple, etc.
mylist['java','python','java','pyton']
s=set{mylist}
print(s)

SyntaxError: invalid syntax (2475903579.py, line 3)

In [33]:
myset= {'python','c', 'java'}
yourset={'math','scalar'}
theirset={'haskel','javasript'}
newset=myset.union(yourset)
print(newset)

{'scalar', 'java', 'math', 'python', 'c'}

In [34]:
newset=myset.union(yourset,theirset)
print(newset)

{'scalar', 'haskel', 'javasript', 'java', 'math', 'python', 'c'}

In [35]:
anotherset=newset.intersection(myset)
print(anotherset)

{'python', 'java', 'c'}

In [65]:
#fuction runs when it is called; is reusable
#called using name and argument ,  a function can have 0 or more argument
#example of a function without any argument.
def my_func():
    print('Hello! I am a function.')
my_func()

Hello! I am a function.

In [63]:
def my_func(firstname):
    print('hello' + firstname + 'chauhan')
my_func('suraj')

hellosurajchauhan

In [66]:
#exmaple of a function with two argument
def my_func(first, second):
    print(first + second)

my_func(10,20)
my_func(1,2)
my_func(5,6)

30
3
11

In [67]:
def my_func(country='India'):
    print('I am from' +country)

my_func('Sweden')
my_func('Germany')
my_func()

I am fromSweden
I am fromGermany
I am fromIndia

In [79]:
#passing list s parameter
#modified the parameter
def my_func(subj):
    subj[1]='math'
subjects = ['python', 'java', 'c']
print(subjects)
my_func(subjects)
print(subjects)

['python', 'java', 'c']
['python', 'math', 'c']

In [80]:
def my_func(x):
    x=10
x=5
print(x)
my_func(x)
print(x)

5
5

In [83]:
def multiply_five(x):
    return 5*x

M=multiply_five(10)
print(M)

50

In [84]:
def multiply_five(x):
    return 2**x
m=multiply_five(10)
print(m)

1024

In [3]:
def my_func(subj):
    for x in subj:
        print(x)
subjects=['python','java','c']
subjects[0]='maths'
my_func(subjects)

maths
java
c

In [5]:
def my_func(subj):
    for x in subj:
        print(x)
subjects=['python','java','c']
subjects.append('maths')
my_func(subjects)

python
java
c
maths

In [14]:
def my_func(subj):
    for x in subj:
        print(x)
subjects=['python','java','c']
subjects.insert(2,'sports')
my_func(subjects)

python
java
sports
c

In [15]:
#args- arbitrary arguments
def my_func(*id):
    print('the third id is' + id[2])

my_func('alpha','beta','gamma')

the third id isgamma

In [16]:
def my_func(*id):
    print('the third id is' + id[3])

my_func('alpha','beta','gamma')

IndexError: tuple index out of range

In [18]:
#keyword arguments 
def my_finc(ch1,ch2):
    print('the oldest child is'+ch1)
my_func(ch2='suraj',ch1='sujeet')

TypeError: my_func() got an unexpected keyword argument 'ch2'

In [19]:
def my_func(suraj,sujeet,ayush):
    print('the oldest child is '+suraj)

my_func('sujeet','ayushh','suraj')

the oldest child is sujeet

In [23]:
def my_func(mohan,rohan):
    print(ch1)

my_func(ch2='mohan',ch1='rohan')

TypeError: my_func() got an unexpected keyword argument 'ch2'

In [24]:
#dictionary,muttable
#key:value
my_dict ={'ram':15,'shyam':16,'mohan':17}
print(my_dict)
print(my_dict['shyam'])
my_dict['sohan']=[15,17,16]

{'ram': 15, 'shyam': 16, 'mohan': 17}
16

In [25]:
#dictionary,muttable
#key:value
my_dict ={'ram':15,'shyam':16,'mohan':17}

print(my_dict['shyam'])

16

In [37]:
#dictionary,muttable
#key:value
my_dict ={'ram':15,'shyam':16,'mohan':17}

my_dict['sohan']=18
print(my_dict)

{'ram': 15, 'shyam': 16, 'mohan': 17, 'sohan': 18}

In [33]:
my_dict={'maths':25,'python': 34,'c':30,'java':35}
print(my_dict)

{'maths': 25, 'python': 34, 'c': 30, 'java': 35}

In [34]:
my_dict={'maths':25,'python': 34,'c':30,'java':35}
print(my_dict['java'])

35

In [36]:
my_dict={'maths':25,'python': 34,'c':30,'java':35}
my_dict['sports']=28
print(my_dict)

{'maths': 25, 'python': 34, 'c': 30, 'java': 35, 'sports': 28}

In [39]:
my_dict={'maths':25,'python': 34,'c':30,'java':35}
print(my_dict.keys())

dict_keys(['maths', 'python', 'c', 'java'])

In [40]:
my_dict={'maths':25,'python': 34,'c':30,'java':35}
print(my_dict.values())

dict_values([25, 34, 30, 35])

In [42]:
#returns a list of items as tuples.
my_dict={'maths':25,'python': 34,'c':30,'java':35}
print(my_dict.items())

dict_items([('maths', 25), ('python', 34), ('c', 30), ('java', 35)])

In [43]:
#check if a key is present in the dictionary .
my_dict={'maths':25,'python': 34,'c':30,'java':35}
if 'maths' in my_dict:
    print('yes')

yes

In [44]:
my_dict={'maths':25,'python': 34,'c':30,'java':35}
del my_dict['c']
print(my_dict)

{'maths': 25, 'python': 34, 'java': 35}

In [45]:
#delete an item 
#del my_dict['x']

In [47]:
#loop through
#for i in my_dict:
        #print(i)

In [48]:
#for i in my_dict:   gives only key.
my_dict={'maths':25,'python': 34,'c':30,'java':35}
for i in my_dict:
    print(i)

maths
python
c
java

In [49]:
#for i in my_dict.values():  gives values and for key replace value with key.
my_dict={'maths':25,'python': 34,'c':30,'java':35}
for i in my_dict.values():
    print(i)

25
34
30
35

In [50]:
#for i in my_dict.items():  gives both key and values.
my_dict={'maths':25,'python': 34,'c':30,'java':35}
for i in my_dict.items():
    print(i)

('maths', 25)
('python', 34)
('c', 30)
('java', 35)

In [51]:
#files 
#we can creae, read, update,and delete files. 
#before working on a fie, you need to open() it.
#f = open('demo.txt')    # f is file handle or file object.
#r=f.read ()    #reads the whole file .
#print(r)
# f.close()   #should always close at the end .

#f=open('myfiles') 
#line=f.readline()  #reads one line 
#print(line)

In [ ]:
#run the following code.fix if there is a bug
#f=open('demo.txt')
#print(r)