In [1]:
#calcutale the square of a num 
num=int(input('enter first number:'))
square=num**2
print('square of the',num,'is',square)

enter first number: 5

square of the 5 is 25

In [2]:
print(10*2)

20

In [4]:
age=int(input('enter your age: '))

enter your age:  19

In [11]:
name=input('enter your first name:')

enter your first name: suraj

In [12]:
name=input('enter your name:')
age=input('enter your age:')

enter your name: suraj
enter your age: 18

In [20]:
#program to subtract the smaller number from the larger number and 
# the difference.
num1=int(input('enter first number:'))
num2=int(input('enter second number:'))
if num1>num2:
    diff=num1-num2
    print('the difference of',num1,'and',num2,'is',diff)
else:
    diff=num2-num1
    print('the difference of',num1,'and',num2,'is',diff)

enter first number: 36
enter second number: 15

the difference of 36 and 15 is 21

In [22]:
number=int(input('enter a number:'))
if number >0: 
    print('number is positive')
else:
    print('number is zero')

enter a number: 4

number is positive

In [3]:
#print even numbers in the given sequencecs
numbers =[1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    if (num%2) ==0:
        print(num,'is an even Number')

2 is an even Number
4 is an even Number
6 is an even Number
8 is an even Number
10 is an even Number

print('hello')

In [6]:
number=int(input('enter a number:'))
if number > 0:
    print('number is positive')
elif number < 0:
    print('number is negative')
else:
    print('number is zero')

enter a number: -6

number is negative

346

In [18]:
number = int(input('enter a number:'))
if number >= 5:
    print('number is positive')
elif number <= 3:
    print('number is negative')
else:
    print('number is zero')

enter a number: 2

number is negative

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
#start a value given as 2 
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(0,30,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [24]:
#step value is -1. Hence , decreasing sequence is 
list(range(0,-9,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8]

In [28]:
#print multiples of 10 for numbers in a range 
for num in range(5):
     if num > 0:
       print(num*30)

30
60
90
120

In [ ]:
num = int(input('enter number:'))
rem=num % 2
if(rem==0):
    print('even') 
else:
    print('odd')

In [2]:
print('suraj')

suraj

In [6]:
num=int(input('enter number:'))
rem=num%2
if rem==0:
    print('even')
else:
    print('odd')

enter number: 5

odd

In [8]:
a=int(input('enter first number:'))
b=int(input('enter second number:'))
c=int(input('enter third number:'))
if a>b and a>c:
    print('first number is largest',a)
elif b>c:
    print('second number is largest',b)
else:
    print('third number is largest',c)

enter first number: 35
enter second number: 567
enter third number: 587

third number is largest 587

In [14]:
#WAP to check if a number is a multiple of 7 or not.
num=int(input('enter number:'))
rem=num%7
if rem==0:
    print(num,'multiple of 7')
else:
    print(num,'is not multiple of 7')

enter number: 3197481

3197481 multiple of 7

In [1]:
list=[1.2,3.4,5.5,3.6,6.7]
print(list)

[1.2, 3.4, 5.5, 3.6, 6.7]

In [2]:
print(list[3])

3.6

In [3]:
len(list)

5

In [5]:
student=['suraj',18,'Ghazipur']
print(student)

['suraj', 18, 'Ghazipur']

In [6]:
print(student[1])

18

In [10]:
list=['suraj','mohan', 'raju']
print(list)

['suraj', 'mohan', 'raju']

In [12]:
list.append('sujeet')
print(list)

['suraj', 'mohan', 'raju', 'sujeet', 'sujeet']

In [13]:
list[1]='ayush'
print(list)

['suraj', 'ayush', 'raju', 'sujeet', 'sujeet']

In [14]:
mark=[45,67,75,84,93]
print(mark[1:])

[67, 75, 84, 93]

In [15]:
print(mark[2:3])

[75]

In [17]:
print(mark[-2:-4])

[]

In [18]:
mark=[85,94,76,63,48]
print(mark[-3:-1])

[76, 63]

In [20]:
list=[1,2,3]
list.append(4)
print(list)

[1, 2, 3, 4]

In [24]:
list=[1,4,2,3]
list.sort()
print(list)

[1, 2, 3, 4]

In [25]:
list=[2,3,1,4]
list.sort(reverse=True)
print(list)

[4, 3, 2, 1]

In [26]:
list.reverse()
print(list)

[1, 2, 3, 4]

In [28]:
list=['suraj',2,'mohan',5,'ayush']
list.insert(2,'sujeet')
print(list)

['suraj', 2, 'sujeet', 'mohan', 5, 'ayush']

In [29]:
list=[2,1,3,1]
list.pop(2)
print(list)

[2, 1, 1]

In [35]:
tup=(1,2,3,4,2,1,2,1,3,4)
print(tup.count(2))

3

In [2]:
info={'name':'suraj',
      'subjects':['python','c','java'],
      'age':18,
      'is adult':True,
      'marks':89.5}
print(info)

{'name': 'suraj', 'subjects': ['python', 'c', 'java'], 'age': 18, 'is adult': True, 'marks': 89.5}

In [6]:
student={'name':'suraj chauhan',
         'subjects':{
             'phy':91,
            'chem':93,
            'math':85}}
print(student)

{'name': 'suraj chauhan', 'subjects': {'phy': 91, 'chem': 93, 'math': 85}}

In [4]:
new_dict={'city':'Ghazipur','age':18}
student.update(new_dict)
print(student)

{'name': 'suraj chauhan', 'subjects': {'phy': 91, 'chem': 93, 'math': 85}, 'city': 'Ghazipur', 'age': 18}

In [10]:
paragraph = input('enter a paragraph:')
print('Total letters:')
print('Total words:')

enter a paragraph: my name is suraj chauhan .

Total letters:{letters}
Total words: {words)

In [1]:
collection={1,3,2,4,5,'hello','world'}
print(collection)

{1, 2, 3, 4, 5, 'world', 'hello'}

In [2]:
len(collection)

7

In [5]:
collection=set()
collection.add(1)
collection.add(2)
collection.add('suraj')
print(collection)

{1, 2, 'suraj'}

In [6]:
set1={1,2,3}
set2={2,3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [7]:
set1.intersection(set2)

{2, 3}

In [10]:
dict={'table':'a piece of furniter','cat':'a small animal'}
print(dict)

{'table': 'a piece of furniter', 'cat': 'a small animal'}

In [13]:
set={'python','java','c++','python','javascript','java','python', 'java','c++','c'}
print(set)

{'c', 'python', 'java', 'c++', 'javascript'}

In [14]:
len(set)

5

In [19]:
marks={}
x=int(input('enter math:'))
marks.update({'math':x})

x=int(input('enter phy:'))
marks.update({'phy':x})

x=int(input('enter chem:'))
marks.update({'chem':x})
print(marks)

enter math: 45
enter phy: 3
enter chem: 34

{'math': 45, 'phy': 3, 'chem': 34}

In [20]:
set={9,9.0}
print(set)

{9}

In [1]:
count = 1
while count <= 5 :
    print('hello')
    count+=1 
    print(count)

hello
2
hello
3
hello
4
hello
5
hello
6

In [2]:
i=1
while i<=5:
    print("hello")
    i+=1

hello
hello
hello
hello
hello

In [3]:
i = 0
while i<=5:
    if i==3:
        i+=1
        continue
    print(i)
    i+=1

0
1
2
4
5

In [2]:
i=1 
while i<=10:
    if i%2==0:
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9

In [3]:
i=1
while i<=10:
    if i%2!=0:
        i+=1
        continue
    print(i)
    i+=1

2
4
6
8
10

In [4]:
list =[1,2,3,4] 
for x in list:
    print(x)

1
2
3
4

In [6]:
tup=(1,2,3,4,5,6)
for val in tup:
    print(val)

1
2
3
4
5
6

In [8]:
str='Suraj Chauhan'
for cha in str:
    print(cha)

S
u
r
a
j

C
h
a
u
h
a
n

In [11]:
str = 'suraj chauhan of class'
for cha in str:
    if cha == 'o':
        print('o found')
        break
    print(cha)
else:
    print('end')

s
u
r
a
j

c
h
a
u
h
a
n

o found

In [12]:
list=[1,4,9,25,36,49,64,81,100]
for val in list:
    print(val)

1
4
9
25
36
49
64
81
100

In [17]:
loop = (1,4,9,25,36,49,64,81,100,49)
x=49

idx=0
for el in loop:
    if el==x:
        print('number found at idx',idx)
    idx+=1

number found at idx 5
number found at idx 9

In [1]:
list = [1,2,3,4,453,63,25,63,65]
idx=0
for i in list:
    if i==i:
        print(idx)
        idx+=1

0
1
2
3
4
5
6
7
8

In [3]:
i=0
while i<=30:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [4]:
for el in range(1,5,2):
    print(el)

1
3

In [5]:
for el in range(1,5):
    print(el)

1
2
3
4

In [6]:
print(range(5))

range(0, 5)

In [7]:
seq=range(5)
for i in seq:
    print(i)

0
1
2
3
4

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [10]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [8]:
#print numbers from 100 to 1.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [1]:
i=15
while i>=1:
    print(i)
    i-=1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
#print the multiplication table of a number n.
n=int(input('any numbers'))
i=1
while i<=10:
    print(i*n)
    i+=1

any numbers 23

23
46
69
92
115
138
161
184
207
230

In [12]:
#print the multiplication table of a number n.
n=int(input('enter any number'))
for i in range(1,11):
    print(i*n)

enter any number 4

4
8
12
16
20
24
28
32
36
40

In [13]:
if i >5:
    pass
print('some useful work')

some useful work

In [10]:
#wap to find the sum of first n numbers. 
n=int(input('enter any number'))
sum=0
for i in range(1,n+1):
    sum+=i
print('total sum is =',sum)

enter any number 5

total sum is = 15

In [14]:
#or
n=int(input('enter number'))
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print('sum=',sum)

enter number 7

sum= 28

In [15]:
#wap to find the factorial of first n numbers.
n=int(input('enter any number'))
fac=1
i=1
while i<=n:
    fac*=i
    i+=1
print('factorial=',fac)

enter any number 6

factorial= 720

In [16]:
#or
#wap to find the factorial of first n numbers.
n=int(input('enter any number'))
fac=1
for i in range(1,n+1):
    fac*=i
print('factorial=',fac)

enter any number 5

factorial= 120

In [1]:
#function = block of statements that perform a specific task. 
#def fun_name(parameter1, parameter2.....)
#return value
def calc_sum(a,b):
    sum=a+b
    print(sum)
    return sum
calc_sum(5,10)

15

15

In [2]:
 calc_sum(12,15)

27

27

In [2]:
#average of 3 numbers

def calc_avg(a,b,c):
    avg=(a+b+c)/3
    print(avg)
    return avg 

calc_avg(2,4,6)

4.0

4.0

In [6]:
#or 
def calc_avg(a,b,c):
    sum=a+b+c
    avg=sum/3
    print(avg)

calc_avg(34,6,41)

27.0

In [5]:
city=['mau', 'ghazipur','varanasi']
def print_len(list):
    print(len(list))

print_len(city)

3

In [6]:
print(city[1])

ghazipur

In [7]:
print_len(city[1])

8

In [11]:
heroes=['thor', 'ironman', 'shaktiman']
def print_list(list):
    for i in list:
        print(i, end=' ')

print_list(heroes)

thor ironman shaktiman

In [20]:
def cal_fac(n):
    fac=1
    for i in range(1,n+1):
        fac*=i
    print(fac)

cal_fac(6)

720

In [23]:
#waf to convert USD to INR.

def converter(usd_val):
    inr_val=usd_val * 83
    print(usd_val,"USD=", inr_val, "INR")
converter(69)

69 USD= 5727 INR

In [1]:
 #recursion 
#prints n to 1 backwards 

def show(n):
    if n==0:
        return
    print(n)
     show(n-1)

In [3]:
def show(n):
    if n==0:
        return
    print(n)
    show(n-1)

show(5)

5
4
3
2
1

In [4]:
#returns n!

def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
fact(6)

720

In [10]:
n=int(input('enter number'))
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

enter number 5

15

In [15]:
def sum(n):
    if(n==0 and n==n):
        return n
    else:
        return n+sum(n-1)
sum(6)

21

In [22]:
list=['suraj','1','12','ayush','sujeet']
print(list[4])

sujeet